.header{
  display: grid;
  grid-template-columns: [col1] 150px [col2] auto [col3] 150px [col4];
  grid-template-rows: [row1] 60px [row2] auto [row3]
}

.name {
  grid-column: col2 / col3;
  justify-self: center;
  color: rgb(119, 10, 10);
}

.main > .my-details {
  border: 2px dashed cyan;
  border-radius: 1.5rem;
  padding: 20px;
  margin: 20px 200px 0px;
}

.my-details>.detail {
  background-color: rgb(235, 235, 235);
  border-radius: .3rem;
  list-style: none;
  padding: 15px 40px;
}

.my-details > .detail:hover {
  background-color: lightgrey;
}

.header-nav-container {
  grid-column: col2/ col3;
  grid-row: row2/ row3;
}

.header-nav-bar {
  display: flex;
  flex-flow: row;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
}


.header-nav-bar-link {
  display: inline;
  text-decoration-line: none;
  padding: 0 70px;
  background-color: bisque;
  border: 2px solid darkseagreen;
  border-radius: 5%;
}

@media screen and (max-width: 1382px){
  .header-nav-bar-link {
    padding: 0 20px;
  }
}